---
import { basics } from "@cv";
const { summary } = basics;
import Section from "@/components/Section.astro";
---

<Section title="Sobre mí">
    <p>{summary}</p>
</Section>

<style>
    * {
        font-family: monospace;
    }
</style>