<footer id="print">
    Pulsa <kbd>cmd</kbd> + <kbd>K</kbd> para abrir la paleta de comandos.
</footer>

<ninja-keys placeholder="Buscar..."></ninja-keys>

<script>
    import "ninja-keys"
    const ninja = document.querySelector('ninja-keys');
    ninja.data = [
      {
        id: 'print',
        title: 'Imprimir',
        hotkey: 'ctrl+P',
        icon: `<svg style="margin-right: 4px" width="18" height="18" fill="#000000" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>ionicons-v5-f</title><path d="M408,112H106a58,58,0,0,0-58,58V328a56,56,0,0,0,56,56h8v39.68A40.32,40.32,0,0,0,152.32,464H359.68A40.32,40.32,0,0,0,400,423.68V384h8a56,56,0,0,0,56-56V168A56,56,0,0,0,408,112ZM368,423.68a8.35,8.35,0,0,1-8.32,8.32H152.32a8.35,8.35,0,0,1-8.32-8.32V264.32a8.35,8.35,0,0,1,8.32-8.32H359.68a8.35,8.35,0,0,1,8.32,8.32ZM394,207.92a24,24,0,1,1,22-22A24,24,0,0,1,394,207.92Z"></path><path d="M344,48H168a56.09,56.09,0,0,0-55.42,48H399.42A56.09,56.09,0,0,0,344,48Z"></path></g></svg>`,
        section: 'Acciones',
        handler: () => {
          window.print()
        },
      },
    ]
  </script>

<style>
    @media print {
        ninja-keys {
            display: none !important;
        }
        footer {
            display: none !important;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0
        }
        to {
            opacity: 1;
        }
    }

    footer {
        color: #000;
        background-color: #fdfdfd;
        border-top: 1px solid #eee;
        position: fixed;
        bottom: 0px;
        width: 100%;
        padding-block: 8px;
        text-align: center;
        font-size: 0.8rem;

        view-timeline-name: --revealing;
        view-timeline-axis: block;

        animation: linear 0.3s fadeIn;
        animation-timeline: --revealing;
        animation-range: entry 100% cover 10%;
    }

    kbd {
        background-color: #eee;
        border-radius: 3px;
        padding: 3px 4px;
        font-size: 0.7rem;
    }

    ninja-keys::part(ninja-action) {
        border-radius: 0px;
        border-left: none;
}
</style>